*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          list-style: none;
          margin: 0;
          padding: 0;
          text-decoration: none;
          font-family: "微软雅黑"
}
a{
	color: black;
}

.container{
	width: 1080px;
	margin: 20px auto;
	position: relative;
	overflow: hidden;
}

.left{
	position: relative;
	width: 20%;
	float: left;
}

.mid{
	position: relative;
	float: left;
	width: 60%;
}

.right{
	position: relative;
	float: left;
	width: 20%;
}
.prokinds{
	border: 1px solid #ccc;
}

.leftheadbox{
	padding: 10px;
	background-color: blue;
	color: white;
	font-size: 20px;
	opacity: 0.3;
	font-size: 16px;
}
.talk_size img{
	width:15px; height:14px
}

.ul_1{
	padding: 5px 10px;
	border-bottom: 1px solid black
}

.ul_2{
	padding: 5px 20px;
	border-bottom: 1px dotted black
}
.ul_3{
	padding: 5px 20px;
	border-bottom: 2px solid black
}
.ul_4{
	padding: 5px 20px;
	
}
.service{
	margin:10px 0;
	border: 1px solid #ccc;
}
.service>ul{
	padding: 10px 20px;
	border-bottom: 2px dotted #ccc;
}
.service>ul>li{
	padding: 5px 20px;
}

h4{
	padding: 10px 30px;
}

.midheadbox{
	margin: 0px 10px;
	padding: 10px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #ccc;
}

.imgbox{
	width: 600px;
	position: relative;
	left: 10px;
	margin: 10px;
}

.imgbox img{
	width: 150px;
	height:150px;
	margin: 20px;
}

.news>ul>li{
	margin: 0 20px;
	padding: 5px;
	border-bottom: 1px dotted black;
	position: relative;
}

.hotkinds>div>span,.news>div>span,.newpro>div>span,.right>.recommend>div>span,.right>.industry>div>span{
	position: absolute;
	right: 20px;
	font-size: 13px
}

.news>ul>li>span{
	position: absolute;
	right: 0px;
}
.hdp{
	font-size: 14px;
	position: absolute;
	top: 50px;
	right: 0px;
}

.recommend{
	border: 1px solid #ccc;
	padding-bottom: 20px;
}

.recommend>hr{
	position: relative;
	top: 40px;
	border: 1px dotted #ccc;
}

.rightimgbox{
	margin-top: 40px;
	width: 220px;
	text-align: center;
}

.rightimgbox img{
	width: 150px;
	height:150px;
	margin: 20px;
}
.p1{
font-size: 14px;
}

.p2{
font-size: 12px;
}

.industry{
	border: 1px solid #ccc;
	position: relative;
	top: 10px;
}

.industry span{
position: absolute;
right: 0px;
font-size: 14px;
}
.industry_li{
	margin: 0 10px;
	padding: 5px;
	border-bottom: 1px dotted black;
	position: relative;
}

.industry_li_3{
	margin: 0 10px;
	padding: 5px;
	position: relative;
}